[submodule "modules/libcds"]
	path = modules/libcds
	url = https://github.com/mikedlowis/data-structures.git
[submodule "modules/build-system"]
	path = modules/build-system
	url = https://github.com/mikedlowis/build-system.git
